{% extends 'layout.html.twig' %}
{% block title %}Panier{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if session.cart %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Modele</th>
                <th scope="col">Qty</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for article in cartInfos %}
            <tr>
                <th scope="row">#</th>
                <td>{{article.name}}</td>
                <td>{{article.qty}}</td>
                <td>{{article.price}}</td>
                <td>{{article.price * article.qty }} $</td>
                <td>
                    <form method="POST">
                        <input type="text" class="d-none" name="delete_id" value="{{article.id}}">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1 class="display-4 mb-5">Total panier : {{total}} $</h1>
    <div class="jumbotron my-5">
        <h2 class="display-4">Paiement :</h2>
        {% if errorForm is not null %}
        <div class="alert alert-danger" role="alert">
            {{ errorForm }}
        </div>
        {% endif %}
        <div class="alert alert-danger d-none" role="alert" id="card-errors"></div>
        <hr class="my-4">
        <form method="POST">
            <input type="text" class="d-none" name="payment">
            <div class="form-group">
                <label for="firstname">Nom *</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
            <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="address">Adresse *</label>
                <input type="text" class="form-control" name="address" id="address">
            </div>
            <!-- STRIPE -->
            <input type='text' id="token" name='stripeToken' style="display: none" value="">
            <div id="card" class="my-5"></div>
            <!-- END STRIPE -->
            <div class="small">* Champs obligatoires</div>
            <div class="text-center my-4">
                <button type="submit" class="btn btn-primary disabled" id="submit">Valider mon panier</button>
            </div>
        </form>
    </div>
    {% else %}
    <div class="jumbotron">
        <h1 class="display-4">Votre panier est vide </h1>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('pk_test_iQgBUXqWjZa5DkyikWWKdami00Fauo176W');

    let form = document.getElementById('card');
    let displayError = document.getElementById('card-errors')
    let inputToken = document.getElementById('token')
    let submitButton = document.getElementById('submit')

    var elements = stripe.elements();
    var cardElement = elements.create('card');

    cardElement.mount(form);
    cardElement.on('change', (event) => {
        if (event.complete) {
            stripe.createToken(cardElement).then(result => {
                if (result.token) {
                    inputToken.value = result.token.id;
                    submitButton.classList.remove('disabled');
                    displayError.classList.add('d-none');
                } else if (result.error) {
                    alert(result.error)
                }
            })
        } else if (event.error) {
            displayError.classList.remove('d-none');
            displayError.textContent = event.error.message;
        }
    });
</script>
{% endblock %}